@tailwind base;
@tailwind components;
@tailwind utilities;

.sm-nav{
  width: 30px;
  transform: rotateY(180deg);
}
.leading{
  line-height: 1.3;
}
.calmer-white{
  color: rgb(172, 172, 172);
}

.sm-apps{
  margin-top: -20px;
}
/* color: rgb(19, 19, 78); */
.b{
  color: rgb(15, 15, 63);
}